.form-group{
  margin-top: -50px;
  padding: 20px 0 0;
}

.en{
  font-weight: normal;
  font-size: 15px;
  margin-left: 50px;
  padding-top: 0px;
  padding-right: 7px;
  line-height: -250px;
  clear: both;
  

}
#profit.l__right{
  font-weight: normal;
  font-size: inherit;
  height: 14px;
  margin-right: 0;
}


#price.input {
  border-radius: 4px;
  padding: 10px 8px 10px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 32px;
  font-size: 14px;
  margin-top: -35px;
  text-align: right;
  float: right;
  width: 160px;
  height: 48px;
  
}
.price{
&__1{
  color: #888;
  font-size: 14px;
  font-weight: bold;
}
&__2 {
  margin: 50px 0 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

&__3{
  padding: 20px 0 0;
  border-bottom: 1px solid #ccc;

}
&__8{
line-height: 72px;
font-weight: bold;
font-size: 16px;

}
&__9{
  line-height: 72px;
  font-size: 34px;
  
}
&__5{
  line-height: 64px;
  border-bottom: 1px solid #ccc;
}
&__6{
  float: right;
  line-height: 64px;
  border-bottom: 1px solid #ccc; 
}

}  

.l-left{
  padding: 24px 0;
  text-align: left;
  margin-left: -35px;
  


&--profit{
  margin-top: 0px;
  padding: 24px 0;
}
}
  
.profit{
  height: 63px;
  width: 400px;
}
  
