%registration_new
  %header
    %p.logo
      %img{alt: "mercari", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1855818912"}
  %h1.main
  %p.new-registration 新規会員登録
  .registration
    %button.registration__mail
      =link_to new_user_session_path ,class:"registration__mail--icon" do
        = fa_icon 'e-mail', class: "icon" 
        メールアドレスで新規登録
    %button.registration__facebook
      =link_to "" ,class:"registration__facebook--icon" do
        = fa_icon 'facebook', class: "rogin__facebook--icon" 
        facebookで新規登録
    %button.registration__google
      =link_to "" ,class:"rogin__google--icon" do
        = fa_icon 'google', class: "rogin__google--icon" 
        googleで新規登録
  %footer
    = render partial: "render_partial/user_footer"