.footer__logo
  =link_to "プライバシーポリシー"," ",class:'footer__logo--privacy"'
  =link_to "メルカリ利用規約","",class:'footer__logo--privacy'
  =link_to "特定商取引に関する表記" ," ",class:"footer__logo--privacy"
.footer__logo--url
  = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3609274330",alt: "logo"
.fotter__logo--small © Mercari, Inc.nishigami
