%ul.content__main--latest-items__box--merchandises
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品1
              -# DBより商品データ持ち込み
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品2
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品3
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品4
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品5
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品6
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品7
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品8
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品9
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/
  %li.content__main--latest-items__box--merchandises__merchandise
    %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
      %a.content__main--latest-items__box--merchandises__merchandise--block{:href => "test"}
        %figure.content__main--latest-items__box--merchandises__merchandise--block__element
          %figcaption
            %span
              「仮」商品10
          .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
            %span{"aria-label" => "Price"}
              ¥6,800
            %img{:alt => "Thumbnail of \"ダウンコート　ロング\"", :src => "https://static.mercdn.net/thumb/photos/m62953289899_1.jpg?1575447069"}/