<html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/Users/kajitanimasayuki/Documents/GitHub/freemarket_sample_58a/app/assets/stylesheets/users/new.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header>
<p class="logo"><img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1855818912" alt="mercari"></p>
<ul class="process">
  <li class="process__info">会員情報   <div class="process__info--first">●</div></li>
  <li class="process__tel">電話番号認証<div class="process__info--second">●</div></li>
  <li class="process__area">お届け先住所入力<div class="process__info--third">●</div></li>
  <li class="process__payment">支払い方法<div class="process__info--fourth">●</div></li>
  <li class="process__complete">完了<div class="process__info--fifth">●</div></li>
</ul>
</header>
<div class="main">
<div class="user__info">住所入力</div>
<div class="user__input">
<div class="user__input--center">
<div class="user__input--entry margin-b">お名前（全角） <span class="changecolor">必須</span>
  <input class="user__input--name" placeholder="例 山田"><input class="user__input--lastname" placeholder="例 太郎"></div>
 <div class="user__input--entry margin">お名前（カナ） <span class="changecolor">必須</span>
  <input class="user__input--name" placeholder="例 ヤマダ"><input class="user__input--lastname" placeholder="例 タロウ"></div>
  <div class="user__input--postcode margin-b">郵便番号 <span class="changecolor">必須</span>
    <input class="user__input--zipcode" placeholder="例 123-4567"></div>
    <div class="user__input--prefecture margin-b">都道府県 <span class="changecolor">必須</span>
      <input class="user__input--prefectures" placeholder="例 東京都"></div>
      <div class="user__input--prefecture margin-b">市町村 <span class="changecolor">必須</span>
        <input class="user__input--prefectures" placeholder="例 渋谷区"></div>
        <div class="user__input--banchis margin-b">番地 <span class="changecolor">必須</span>
          <input class="user__input--banchi" placeholder="例 1丁目3-56"></div>
          <div class="user__input--building margin-b">建物名 <span class="changegray">任意</span>
            <input class="user__input--buildings" placeholder="例 森ビル３階"></div>
            <div class="user__input--phone margin-b">電話番号 <span class="changegray">任意</span>
              <input class="user__input--tel" placeholder="例 090-1111-1111"></div>
              <button class="next__page margin-b">次へ進む</button>
</div>
</div>
</div>
<footer>
    <div class="footer__logo">
      <p><a href="" class="privacy">プライバシーポリシー</a>   <a href="" class="terms">メルカリ利用規約 </a>     <a href=""> 特定商取引に関する表記</a></p>
      <p class="footer__logo--url"><img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3609274330"></p>
      <p class="fotter__logo--small">© Mercari, Inc.nishigami</p>
    </div>
  </footer>
</body>
</html>