.barnerWrap
  .barner
    .barner__left
      .barner__left
        .barner__left__row1 スマホでかんたんフリマアプリ
        .barner__left__row2 今すぐ無料ダウンロード！
        .barner__left__row3
          = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?82960919")
          =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1855818912", class: "product__appNavi__icon"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: "opa"
          =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1855818912", class: "product__appNavi__icon"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "opa" 
    .barner__right
      = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?82960919",class: "smaPho")
.footer
  .footerNavi
    .footer__mercari
      %h2.footer__mercari__caption.footerCaption メルカリについて
      %ul.footerList
        %li
          =link_to "会社概要（運営会社）", '##'
        %li
          =link_to "採用情報", '##'
        %li
          =link_to "プレリリース", '##'
        %li
          =link_to "公式ブログ", '##'
        %li
          =link_to "メルカリロゴ利用ガイドライン", '##'
        %li
          =link_to "aa", "https://twitter.com/mercari_jp"
          =link_to "bb", "https://www.facebook.com/mercarijp"
    .footer__help
      %h2.footer__help__caption.footerCaption ヘルプ＆ガイド
      %ul.footerList
        %li
          =link_to "メルカリガイド" '##'
        %li
          =link_to "らくらくメルカリ便", '##'
        %li
          =link_to "ゆうゆうメルカリ便", '##'
        %li
          =link_to "大型メルカリ便", '##'
        %li
          =link_to "車体取引ガイド", '##'
        %li
          =link_to "メルカリあんしん・あんぜん宣言！", '##'
        %li
          =link_to "偽ブランド品撲滅への取り組み", '##'
        %li
          =link_to "メルカリボックス", '##'
    .footer__privacy
      %h2.footer__privacy__caption.footerCaption プライバシーと利用規約
      %ul.footerList
        %li
          =link_to "プライバシーポリシー", '##'
        %li
          =link_to "メルカリ利用規約", '##'
        %li
          =link_to "あんしんスマホサポート制度に関する利用特約", '##'
        %li
          =link_to "コンプライアンスポリシー", '##'
        %li
          =link_to "個人データの安全管理に関わる基本方針", '##'
        %li
          =link_to "特定商取引に関する表記", '##'
        %li
          =link_to "資金決済法に基づく表示", '##'
        %li
          =link_to "法令順守と犯罪防止のために", '##'
    .footer__state
      %h2.footer__state__caption.footerCaption 国
      %ul.footerList
        %li
          =link_to "日本", '##'
        %li
          =link_to "United States", '##'
  .footer__bottom
    =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?82960919", class:"aaa")
    ©️ Mercari, Inc.