.detailWrapper{
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  a{
    text-decoration: none;
    cursor: pointer;
  }
  .opa :hover{
    opacity: 0.7;
  }
  .caption{
    font-weight: bold;
  }
  .header{
    height: 128px;
    &__logo {
      padding-top: 40px;
      text-align: center;
      &__icon {
        height:49px;
        width: 185px;
      }
    }
  }
  .detailMain{
    max-width: 700px;
    background-color: #ffffff;
    margin:0 auto 0;
    a{
      color: #0099e8;
      display: block;
      text-align: right;
    }
    .btn{
      background-color: #cdcdcd;
      padding: 16px;
      text-align: center;
    }
  }
  .footer{
    width: 456px;
    height: 220px;
    padding:40px 0 40px 0;
    margin: 0 auto;
    &__mercari {
      padding: 40px 0;
      text-align: center;
      .footerNavi{
        margin-right: 10px;
        color: #333333;
      }
      &__logo {
        padding-top: 40px;
        &__icon {
          width: 80px;
          height: 65px;
        }
      }
    }
  }
}