@import "./reset";
// @import "./font-awesome";
// @import "index";
// @import "credit_cards_new";
// @import "shareParts_top";
// @import "products.scss";
// @import "products_purchase";
// @import "user.info.scss";
// @import "rogin.scss";
// @import "rogin.scss";
// @import "top/header";
// @import "top/advertisement-bar";
// @import "top/put-up-btns";
// @import "top/download-bar";
// @import "top/footer";
// @import "slick";
// @import "slick-theme";
@import "scaffolding/hedder";
@import "scaffolding/image";
@import "scaffolding/send";
@import "scaffolding/price";
@import "utility/form";
