* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}

.headers {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
}

.header {
  width: 1000px;
  margin: 0px auto;
  padding: 8px 0px 0px;
}

.header__upper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header__upper--leftbox {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  margin-right: 45px;
}

.main_logo {
  color: inherit;
  text-decoration: none;
}

.mercari_logo {
  height: 36px;
  width: 134px;
}

.header__upper--form {
  position: relative;
  width: 100%;
}

.header__upper--form__input {
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.header__upper--form__search {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.header__upper--form__search--search-btn {
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin-top: 2px;
  width: 14px;
}

.header__lower {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
}

.header__lower--leftbox {
  display: flex;
  margin-left: -3px;
}

.header__lower--leftbox__search {
  padding-left: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}

.header__lower--leftbox__search--box {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}

.header__lower--leftbox__search--box__icon {
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
}

.header__lower--leftbox__search_brands {
  padding-right: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
}

.header__lower--leftbox__search_brands--box {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}

.brand-icon {
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
}

.header__lower--rightbox {
  display: flex;
}

.header__lower--rightbox__sign_up {
  text-align: center;
}

.header__lower--rightbox__sign_up--btn {
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px
}

.header__lower--rightbox__log_in {
  text-align: center;
  margin-left: 11px;
}

.header__lower--rightbox__log_in--btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
}

.content {
  max-width: 700px;
  padding: 0px;
  width: 100%;
  margin: 0px auto;
}

.content__main {
  position: relative;
}

.content__main--advertisement_bar {
  position: relative;
}

.content__main--advertisement_bar__box {
  height: 170px;
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  overflow: hidden;
}

.content__main--advertisement_bar__box--link {
  position: relative;
  background-size: cover;
  height: 170px;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-kaushika-8f6ea67….jpg);
  /* background-image: url(test); */
  background-position: center center;
}

.content__main--advertisement_bar__box--details {
  margin-top: -170px;
  box-sizing: border-box;
  display: block;
  height: auto;
  position: relative;
  visibility: inherit;
  width: 100%;
}

.slider-frame {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0px;
  -moz-box-sizing: border-box;
  -ms-transform: translate(0, 0);
  overflow: hidden;
  padding: 0;
  position: relative;
  touch-action: pinch-zoom pan-y;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.slider-list {
  transform: translate3d(-2066px, 0px, 0px);
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 290px;
  width: 3099px;
  cursor: pointer;
  box-sizing: border-box;
  touch-action: pan-y pinch-zoom;
}

.slider-slide {
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  left: 3099px;
  list-style-type: none;
  margin: auto 0px;
  position: absolute;
  top: 0px;
  transform: scale(1);
  transition: transform 0.4s linear 0s;
  vertical-align: top;
  width: 1033px;
}

.slider-slide.camp {
  left: 1033px;
}

.slider-slide.slide-visible {
  left: 2066px;
}

.content__main--advertisement_bar__box--details__specific {
  position: relative;
  background-size: cover;
  height: 170px;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151c….jpg);
  background-position: center center;
}

.content__main--advertisement_bar__box--details__specific--pic_element {
  -webkit-box-align: start;
  align-items: start;
  display: flex;
  height: 100%;
  position: relative;
  margin: 0px auto;
}

.content__main--advertisement_bar__box--details__specific--pic_element__picture {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 170px;
}

.content__main--advertisement_bar__box--details__specific--pic_element__picture img {
  vertical-align: middle;
}

.content__main--advertisement_bar__box--details__specific--pic_element__font_area {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 20px 40px;
}

.content__main--advertisement_bar__box--details__specific--pic_element__font_area--upper {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.content__main--advertisement_bar__box--details__specific--pic_element__font_area--middle {
  display: none;
  font-size: 16px;
  line-height: 1.77777;
  margin-bottom: 24px;
}

.content__main--advertisement_bar__box--details__specific--pic_element__font_area--lower {
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.content__main--advertisement_bar__box--details__specific--pic_element__font_area--lower__icons {
  display: inline-block;
  height: 32px;
  width: 110px;
  margin-left: 20px;
}

.content__main--advertisement_bar__box--details__specific--pic_element__font_area--lower__icons img {
  vertical-align: middle;
}

.slider-control-centerleft {
  position:absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.slider-control-centerright {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.slider-control-bottomcenter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.content__main--advertisement_bar__box--details--arrow {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  width: 31px;
  -webkit-appearance: none;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca88….png);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
}

.left {
  margin-left: 60px;
}

.right {
  margin-right: 60px;
}

.content__main--advertisement_bar__sample_view {
  box-sizing: border-box;
  display: block;
  height: auto;
  position: relative;
  visibility: inherit;
  width: 100%;
}

.content__main--famous-items {
  padding: 40px 20px 20px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
}

.content__main--famous-items__title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.content__main--famous-items__box {
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.content__main--famous-items__box--btns {
  display: block;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px -10px;
}

.content__main--famous-items__box--btns__title {
  margin: 10px 0px 0px 10px;
  display: inline-block;
}

.content__main--famous-items__box--btns__title--font {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  padding: 8px 16px;
}

.content__main--latest-items {
  padding: 30px 0px 60px;
}

.content__main--latest-items__box {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}

.content__main--latest-items__box--top_bar {
  margin-bottom: 16px;
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.content__main--latest-items__box--top_bar__title {
  flex: 1 1 0%;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.content__main--latest-items__box--top_bar__more-btn {
  color: rgb(0, 149, 238);
  display: block;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  padding: 5px 14px 5px 5px;
}

.content__main--latest-items__box--top_bar__more-btn:before {
  bottom: 0px;
  content: "";
  height: 8px;
  position: absolute;
  right: 2px;
  top: 0px;
  transform: rotate(-45deg);
  width: 8px;
  border-bottom: 2px solid rgb(0, 149, 238);
  border-right: 2px solid rgb(0, 149, 238);
  margin: auto;
}

.content__main--latest-items__box--merchandises {
  display: flex;
  flex-wrap: wrap;
  margin: -3px;
}

.content__main--latest-items__box--merchandises__merchandise {
  /* width: 33.3333%;
  height:2.8em;
  background-color: greenyellow;
  　仮仕様 */
  width: 19%;
  padding: 3px;
}

.content__main--latest-items__box--merchandises__merchandise--block {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}

.content__main--latest-items__box--merchandises__merchandise--block__element {
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

.content__main--latest-items__box--merchandises__merchandise--block__element figcaption {
  box-sizing: border-box;
  color: #222;
  font-size: 14px;
  height: 64px;
  line-height: 1.4em;
  padding: 0 12px;
  white-space: normal;
  word-break: break-word;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.content__main--latest-items__box--merchandises__merchandise--block__element figcaption span {
  display: inline-block;
  height: 2.8em;
  overflow: hidden;
  position: relative;
}

.content__main--latest-items__box--merchandises__merchandise--block__element figcaption span:after {
  background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
  bottom: 0;
  content: "";
  height: 50%;
  position: absolute;
  right: 0;
  width: 50%;
}

.content__main--latest-items__box--merchandises__merchandise--block__element--pic_box {
  height: 0;
  overflow: hidden;
  padding: 0 0 100%;
  position: relative;
  width: 100%;
}

.content__main--latest-items__box--merchandises__merchandise--block__element--pic_box span[aria-label=Price] {
  -webkit-box-align: center;
  align-items: center;
  background: rgba(0,0,0,.4);
  border-radius: 0 14px 14px 0;
  bottom: 8px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 17px;
  height: 28px;
  letter-spacing: .02em;
  margin: 0;
  padding: 0 12px;
  position: absolute;
  z-index: 2;
}

.content__main--latest-items__box--merchandises__merchandise--block__element--pic_box img {
  bottom: 0;
  position: absolute;
  top: 0;
}

.content__main--latest-items__box--merchandises__merchandise--block__element img {
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}

.content__main--latest-items__box--merchandises__merchandise--block:after {
  border: 1px solid transparent;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  width: 100%;
  z-index: 1;
}

.put-up-btns {
  position: fixed;
  text-align: center;
  z-index: 2;
  font-size: 22px;
  height: 160px;
  width: 160px;
  right: 32px;
  bottom: 32px;
}

.put-up-btns__circle {
  display: inline-block;
}

.put-up-btns__circle--button {
  padding-top: 32px;
  text-align: center;
  height: 160px;
  width: 160px;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
}

.put-up-btns__circle--button__letter {
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.put-up-btns__circle--button__pic {
  max-width: 100%;
  max-height: 100%;
  color: rgb(255, 255, 255);
  display: block;
  height: 60px;
  width: 54px;
  margin: 5px auto 0px;
  margin-top: 8px;
}

.download-bar {
  color: rgb(255, 255, 255);
  background-position: center center;
}

.download-bar__box {
  background-position: center center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 750px;
  margin: 0px auto;
  background-color: royalblue;
}

.download-bar__box--left {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.download-bar__box--left--upper {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.download-bar__box--left--middle {
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin-bottom: 20px;
}

.download-bar__box--left__lower--mercari-icon {
  height: 68px;
  margin-right: 20px;
  width: 68px;
}

.download-bar__box--left__lower--icon {
  height: 40px;
  margin-right: 8px;
  width: 144px;
}

.download-bar__box--right__pic {
  height: 260px;
  width: 300px;
}

.footer {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
}

.footer__details {
  width: 700px;
  margin: 0px auto;
}

.footer__details--box {
  display: inline-block;
  margin-top: 18px;
  vertical-align: top;
  width: 50%;
  padding: 0px 10px;
}

.footer__details--box__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.footer__details--box__letters--letter {
  line-height: 1.4em;
  margin: 16px 0px 0px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.footer__details--box__letters--logos {
  display: inline-block;
  margin-top: 30px;
}

.footer__details--box__letters--logos__icon {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 30px;
  margin-right: 20px;
}

.footer__end {
  width: 700px;
  margin: 55px auto 0px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.footer__end--logo {
  height: 33px;
  width: 124px;
}

.footer__end--copylight {
  padding-left: 15px;
  width: 75%;
}