element.style {
}
:root {
    cursor: auto;
}
:root {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    cursor: default;
    font: 66.66667% sans-serif;
}
html {
    height: 100%;
}
html {
    overflow-y: auto;
}
html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}
* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
}
* {
    font-size: inherit;
    line-height: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "ja-JP";
}
user agent stylesheet
html {
    display: block;
    color: -internal-root-color;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
::selection {
    color: currentColor;
}
::selection {
    background-color: #b3d4fc;
    color: #fff;
    text-s
}