@import "scaffolding/hedder";
@import "scaffolding/image";
@import "scaffolding/send";
@import "scaffolding/price";
@import "utility/form";

html {
  margin: 0;
  padding: 0;
}
.sell{
&__container--inner {
  color: #333;
  display: grid;
  grid-template: repeat(7);
  width: 780px;
  margin:  auto;
  background: #fff;
  font-size: 16px;
}

&__content{
  border-bottom: 1px solid #eee;
  padding:40px;
  &--lhead {
    padding: 38px 16px 40px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #eee;

  }
  &--en{
    display: grid;
    height: 220px;
    width: 700px;
    padding:0 -50 0 0;
    grid-template: repeat(9);
    grid-template-rows:72px 33% 33%;
    grid-template-columns:37% 30% 33%;
    grid-auto-rows: 80px;
    grid-auto-columns: 80px;
  }
  
}
} 

.form__group{
&--name{
  font-weight: bold;
  font-size: 14px;
}
&--text{
  margin-top: 30px;
  font-weight: bold;
}
&--status{
  font-weight: bold;
}

}

.input__name{
  width: 100%;
  height: 48px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 8px;
}



.form__require, .form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: #ea352d;
  font-weight: bold;
}


.textarea__default {
  display: block;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
    

} 

p {
  line-height: 1.5em;
  margin: 8px 80px 0 0;
}



.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 45%;
  margin: 16px 0 0 200px;
}

.footer{
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  
  &__container1{
  display: flex;
  flex-flow: wrap;
  width: 400px;
  height: 220px;
  margin-top: 0;
  justify-content: center;
  }
}
a.link{
  color: #333;
  text-decoration: none;
  height: 10px;
  line-height: 10px;
  
  
}
.box{
&__1{
  padding-top: 40px;
  width: 120x;
  font-size: 12px;
}
&__2{
  padding-top: 40px;
  width: 96x;
  height: 12px;
  margin: 0 16px;
  font-size: 12px;


}
&__3{
  padding-top: 40px;
  width: 132x;
  height: 12px;
  line-height: 1px;
  font-size: 12px;
}
&__4{
  width: 100%;
  height: 65px;
  padding-bottom: 8px;

  }
}
small{
  width: 100%;
}
.bottom{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.bottom p{
  margin: 0;
}
