@mixin button{
  width: 323px;
  height: 50px;
  font-size: 15px;
  margin-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
}
header{
  height: 128px;
  background-color: #f5f5f5;

}
.logo{
  width: 185px;
  height: 49px;
  margin:0 auto;
}

.main{
  background-color: #f5f5f5;
  margin: 0px;

.new__registration{
  width: 456px;
  padding: 40px 64px 40px 64px;
  box-sizing: border-box;
  background-color: white;
  font-size: 12px;
  margin:0 auto;
  text-align: center;
  color: #333333;
  border-bottom: solid 1px  #f5f5f5;

  &--button{
    background-color: #0099e8;
    color: #fff;
    margin-top: 8px;
    font-size: 14px;
    width: 323px;
    height: 50px;
    border-radius: 4px;}
}

button{
  font-size: 14px;
  width: 323px;
  height: 50px;
  border-radius: 4px;
}

.rogin{
  width: 456px;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 40px;

  &__center{
    width: 456px;
    text-align: center;
    padding: 32px 64px 32px 64px ;
    box-sizing: border-box;}

  &__facebook{
    background-color: #385185;
    color: white;
    margin-bottom: 16px;
    }

}
.icon{
  color : white;
  text-align: left;
  }
.rogin__input{
  width: 323px;
  margin: 0 auto;

  &--mail,&--password{
    @include button;
    border: 1px solid;
    border-radius: 5px;}

    &--button{
      text-align: center;
      margin-top: 24px; }

    &--rogin{
      background-color: red;
      color: white;
      @include button;
      margin: 0 auto;
    }
}
.reCAPTCHA{
  width: 323px;
  height: 72px;
  background-color: #f9f9f9;
  line-height: 72px;
  font-size: 15px;
  margin: 15px auto;
  font-weight: 100;
  margin-bottom: 0px;
}

.rogin__password--forget{
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: #0099e8;
  margin-bottom: 0px;
  width: 323px;
  margin: auto;
  margin-top: 40px;
}

footer{
  background-color: #f5f5f5;
  width: 684px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-size: 13px;
    &--privacy{
    margin-left: 10px;}
    &--url{
    width: 80px;
    height: 65px;
    margin:0 auto;
    padding-top: 35px;}
    &--small{
    padding-top: 5px;
    font-size: 10px;}
   }
  
  }
