header{
  height: 128px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
.logo{
  width: 185px;
  height: 49px;
  padding-top: 40px;
  margin: 0px;
}
.process{
  width: 508px;
  height: 32px;
  display: flex;
  font-size: 12px;
  padding-top: 40px;
  padding-left: 40px;
  color: #ccc;
  font-weight: bold;
  &__info{
    text-align: center;
    box-sizing: border-box;
    margin-left: 20px;
  &--first,&--second,&--third,&--fourth,&--fifth{
    text-align: center;
    }
  &--first,&--red{
      color:red;
      position: relative;
    }
  &--first::after{
    content: "";
    z-index: 100;
    display: block;
    width: 380px;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 6px;
    left: 29px;
  }
  }

  li{
    list-style: none;
    margin-right: 30px;
  }
}
}

.user{
  background-color: #f5f5f5;
  &__info{
    font-size: 22px;
    font-weight: bold;
    width: 700px;
    height: 97px;
    text-align: center;
    padding: 32px;
    margin: 0 auto;
    border-bottom: solid 1px;
    border-color: #ccc;
    background-color: white;
    box-sizing: border-box;
    }
  &__input{
    width: 700px;
    margin: 0 auto;
    padding: 24px 16px 24px 16px;
    background-color: white;
    box-sizing: border-box;
    
&--center{
  width: 343px;
  margin: 0 auto;}
&--entry{
  font-weight: bold;
  font-size: 14px;}
&--nickname,&--mail{
  width: 300px;
  height: 28px;
  padding: 10px 16px 8px 16px;
  margin-top: 8px;
  box-sizing: content-box;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;}
&--mailp{
    color: #ccc;
    font-size: 13px;
    margin-top: 8px;
  }
&--Identification{
  font-weight: bold;
  margin-top: 24px}
&--Ip{
  font-size: 14px;
  color:#888;}
&--name{
    width: 155px;
    height: 28px;
    padding: 10px 16px 8px 16px;
    margin-top: 8px;
    margin-right: 8px;
    box-sizing: content-box;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;}
&--lastname{
  width: 100px;
  height: 28px;
  padding: 10px 16px 8px 16px;
  margin-top: 8px;
  box-sizing: content-box;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;}
}

.changecolor{
  border: solid 1px;
  background-color: red;
  color: white;
  font-weight: 100;
  padding: 2px 4px;
  margin-left: 8px;
}
.errorsmessage{
  color: red;
}

.margin{
  margin-top: 24px;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

#user_birthday_1i,#user_birthday_2i,#user_birthday_3i{
  width: 86px;
  height: 48px;
  margin-top: 8px;
  box-sizing: content-box;
  font-size: 13px;
  border-radius: 4px;
  font-weight: 400;
}
.reCAPTCHA{
  width: 300px;
  height: 72px;
  background-color: #f9f9f9;
  line-height: 72px;
  margin-top: 20px;
}
.c{
  text-align: center;
  margin-top: 24px;
}
.policy{
  color: #0099e8;
}
.next__page{
  width: 341px;
  height: 48px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 24px;
  &--p{
    width: 343px;
    text-align: right;
    color: #0099e8;
    font-size: 14px;
    padding-top: 15px;
  }
}
}

footer{
background-color: #f5f5f5;
width: 684px;
margin: 0 auto;
text-align: center;
padding: 30px 0px 30px 0px;
font-size: 13px;
.footer__logo{
  &--privacy{
  margin-left: 10px;}
  &--url{
  width: 80px;
  height: 65px;
  margin:0 auto;
  padding-top: 35px;}
  &--small{
  padding-top: 5px;
  font-size: 10px;}
 }
}