%footer.footer__container1
  .box.box__1
    %a{href: "リンク貼る",class:"link"}プライバシーポリシー
  .box.box__2
    %a{href: "リンク貼る",class:"link"}メルカリ利用規約
  .box.box__3
    %a{href: "リンク貼る",class:"link"}特定商取引に関する表記
  .footer__container2
    .box.box__4
      %a.footer-logo{href: "リンク貼る"}
      %img{alt:"mercari", height:"65", src:"https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3649802486", width: "80"}/
    %small © Mercari, Inc.
