<!DOCTYPE html>
<html>
  <head>
    <link rel="app/assets/stylesheets" href="product_details.css">
  </head>
  <body>
    <div class="header">
      <div class="merukari_image">
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1855818912" alt ="メルカリ画像">
      </div>
      
      <div class="search_field">
      </div>

      <div class="seach_category">
      カテゴリーから探す
      </div>
      <div class="seach_brand">
      ブランドから探す
      </div>
      <div class="sign_up_button">
      新規会員登録
      </div>
      <div class="sign_in_button">
      ログイン
      </div>
    </div>
  .main

  .footer
  </body>

</html>


