<!DOCTYPE html>
<html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/Users/apple/Desktop/projects/freemarket_sample_58a/app/assets/stylesheets/user.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header>
<p class="logo"><img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1855818912" alt="mercari"></p>
</header>

<h1 class="main">
<p class="new-registration">新規会員登録</p>

<p class="registration">
  <button class="registration__mail"><i class="far fa-envelope"></i>メールアドレスで登録する</button>
  <button class="registration__facebook"><a><i class="fab fa-facebook-f"></i></a>facebookで登録する</a></button>
  <button class="registration__google"><a><i class="fab fa-google"></i>googleで登録する</a></button>
</p>
</h1>
<footer>
  <div class="footer__logo">
    <p><a href="" class="privacy">プライバシーポリシー</a>   <a href="" class="terms">メルカリ利用規約 </a>     <a href=""> 特定商取引に関する表記</a></p>
    <p class="footer__logo--url"><img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3609274330"></p>
    <p class="fotter__logo--small">© Mercari, Inc.nishigami</p>
  </div>
</footer>
</body>
</html>
