<header>
</header>
<div class="main-wrapper">
  <div class="left-bar">
    <div class="left-bar-top">
      <a>マイページ</a>
      <a>お知らせ</a>
      <a>やることリスト</a>
      <a>いいね！一覧</a>
      <a>出品する</a>
      <a>出品した商品・出品中</a>
      <a>出品した商品・取引中</a>
      <a>出品した商品・売約済み</a>
      <a>購入した商品・取引中</a>
      <a>購入した商品・過去の取引</a>
      <a>ニュース一覧</a>
      <a>評価一覧</a>
      <a>ガイド</a>
      <a>お問い合わせ</a>
    </div>
    <div class="left-bar-middle">
      <h2>メルペイ</h2>
      <a>残高・振込申請</a>
      <a>ポイント</a>
    </div>
    <div class="left-bar-bottom">
      <h2>設定</h2>
      <a>プロフィール</a>
      <a>発送元・お届け先情報</a>
      <a>支払い方法</a>
      <a>メール/パスワード</a>
      <a>本人情報</a>
      <a>電話番号の確認</a>
      <a>ログアウト</a>
  </div>
  <div class="right-contents-wrappar">
    <div class="right-content-header">
      <img class="back-photo">
      <img class="profile-photo">
    </div>
    <div class="right-content-news">
      <div class="box-lists"></div>
      <div class="news-box"></div>
      <div class="doinglist-box"></div>
    </div>
    <div class="right-content-product">
      <div class="box-lists"></div>
      <div class="trading-products"></div>
      <div class="past-trade"></div>
    </div>
  </div>
<footer>
</footer>
