<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>マイページ</title>
  <link rel="stylesheet" href="/Users/kajitanimasayuki/Desktop/freemarket.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
  <header>
  </header>
  <div class="main-wrapper">

    <div class="right-contents-wrappar">
      <div class="right-content-header">
        <div class="mypage-user-icon">
          <img class="profile-icon">
          <h2 class="user-nickname">nickname</h2>
          <div class="mypage-number">
            <div class="mypage-number-evaluation">
                評価<span>15</span>
            </div>
            <div class="mypage-number-exhibit">
                出品数<span>4</span>
            </div>
          </div>
        </div>
      </div>
      <div class="right-content-news">
        <div class="box-tab">
          <a class="active">お知らせ</a>
          <a class="non-active">やることリスト</a>
        </div>
        <div class="box-tab-contents">
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>時間が足りないよやること多すぎだよ眠いよ寝よう</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">18時間前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>いいね！したシャツにコメントがつきました。</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">1日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>「メルペイスマート払い」なら今だけ最大3％還元！詳しくはこちら</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">3日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>最大P3000もらえる！買うしかないキャンペーン開催中！！</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">3日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>事務局から個別メッセージ「ログイン通知」</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">3日前</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-content-product">
        <div class="box-lists">
          <h2>取引中</h2>
          <h2>過去の取引</h2>
        </div>
        <div class="trading-products">
          <a>あいうえお</a>
          <a>かきくけこ</a>
          <a>さしすせそ</a>
        </div>
      </div>
    </div>

    <div class="left-bar">
      <div class="left-bar-top">
        <a>マイページ</a>
        <a>お知らせ</a>
        <a>やることリスト</a>
        <a>いいね！一覧</a>
        <a>出品する</a>
        <a>出品した商品・出品中</a>
        <a>出品した商品・取引中</a>
        <a>出品した商品・売約済み</a>
        <a>購入した商品・取引中</a>
        <a>購入した商品・過去の取引</a>
        <a>ニュース一覧</a>
        <a>評価一覧</a>
        <a>ガイド</a>
        <a>お問い合わせ</a>
      </div>
      <h3 class="left-bar">メルペイ</h3>
      <div class="left-bar-middle">
        <a>残高・振込申請</a>
        <a>ポイント</a>
      </div>
      <h3>設定</h3>
      <div class="left-bar-bottom">
        <a>プロフィール</a>
        <a>発送元・お届け先情報</a>
        <a>支払い方法</a>
        <a>メール/パスワード</a>
        <a>本人情報</a>
        <a>電話番号の確認</a>
        <a>ログアウト</a>
      </div>
    </div>

  </div>
<footer>
</footer>
</body>