<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>マイページ</title>
  <link rel="stylesheet" href="/Users/kajitanimasayuki/Desktop/freemarket.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
  <header>
    let's Go
  </header>
  <div class="main-wrapper">

    <div class="mypage-user">
      <div class="mypage-user-header">
        <div class="mypage-user-icon">
          <img class="mypage-user-icon__profile">
          <h2 class="mypage-user-icon__nickname">nickname</h2>
          <div class="mypage-user-icon__number">
            <div class="mypage-user-icon__number__evaluation">
                評価<span>15</span>
            </div>
            <div class="mypage-user-icon__number__exhibit">
                出品数<span>4</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mypage-user-list">
        <div class="mypage-user-list__boxtab">
          <a class="mypage-user-list__boxtab__active">お知らせ</a>
          <a class="mypage-user-list__boxtab__nonactive">やることリスト</a>
        </div>
        <div class="box-tab-contents">
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>時間が足りないよやること多すぎだよ眠いよ寝よう</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">18時間前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>いいね！したシャツにコメントがつきました。</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">1日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>「メルペイスマート払い」なら今だけ最大3％還元！詳しくはこちら</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">3日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>最大P3000もらえる！買うしかないキャンペーン開催中！！</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">3日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list">
            <img class="figure" src="https://static.mercdn.net/images/mercari_profile.png"/>
            <div class="box-tab-contents-list-body">
              <a>事務局から個別メッセージ「ログイン通知」</a>
              <div class="box-tab-contents-list-body-timeicon">
                Ti<div class="box-tab-contents-list-body-time">3日前</div>
              </div>
            </div>
          </div>
          <div class="box-tab-contents-list-index">
            <a>一覧を見る</a>
          </div>
        </div>
      </div>
      
      <div class="right-content-product">
        <div class="right-content-product-header">
          購入した商品
        </div>
        <div class="box-tab">
            <a class="non-active">取引中</a>
            <a class="active">過去の取引</a>
        </div>
        <div class="trading-products">
          <img class="figure" src="https://static.mercdn.net/thumb/photos/m97045633952_1.jpg?1568523458"/>
          <div class="box-tab-contents-list-body">
            <a>「サッカー用コーン」を購入しました。取引が完了しました。</a>
            <div class="trading-products-status">取引完了</div>
          </div>
        </div>
        <div class="trading-products">
          <img class="figure" src="https://static.mercdn.net/thumb/photos/m71278188889_1.jpg?1552610621"/>
          <div class="box-tab-contents-list-body">
            <a>「最終価格です！キングダムハーツ一番くじF賞 グラス」を購入しました。取引が完了しました。</a>
            <div class="trading-products-status">取引完了</div>
          </div>
        </div>
        <div class="trading-products">
          <img class="figure" src="https://static.mercdn.net/thumb/photos/m94269344441_1.jpg?1569910961"/>
          <div class="box-tab-contents-list-body">
            <a>「LEGO ミニフィグ コカコーラ」を購入しました。取引が完了しました。</a>
            <div class="trading-products-status">取引完了</div>
          </div>
        </div>
        <div class="trading-products">
          <img class="figure" src="https://static.mercdn.net/thumb/photos/m52914734455_1.jpg?1557221827"/>
          <div class="box-tab-contents-list-body">
            <a>「アディダス ジャージ」を購入しました。取引が完了しました。</a>
            <div class="trading-products-status">取引完了</div>
          </div>
        </div>
      </div>
    </div>

    <div class="left-bar">
      <div class="left-bar-top">
        <a>マイページ</a>
        <a>お知らせ</a>
        <a>やることリスト</a>
        <a>いいね！一覧</a>
        <a>出品する</a>
        <a>出品した商品・出品中</a>
        <a>出品した商品・取引中</a>
        <a>出品した商品・売約済み</a>
        <a>購入した商品・取引中</a>
        <a>購入した商品・過去の取引</a>
        <a>ニュース一覧</a>
        <a>評価一覧</a>
        <a>ガイド</a>
        <a>お問い合わせ</a>
      </div>
      <h3 class="left-bar">メルペイ</h3>
      <div class="left-bar-middle">
        <a>残高・振込申請</a>
        <a>ポイント</a>
      </div>
      <h3>設定</h3>
      <div class="left-bar-bottom">
        <a>プロフィール</a>
        <a>発送元・お届け先情報</a>
        <a>支払い方法</a>
        <a>メール/パスワード</a>
        <a>本人情報</a>
        <a>電話番号の確認</a>
        <a>ログアウト</a>
      </div>
    </div>

  </div>
<footer>
</footer>
</body>
